#titleContainer{
    height:500px;
    display:grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 25% 25% 25% 5% 20%;
}

#titleDiv{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
}

#title{
    font-size:xxx-large;
    display:flex;
    justify-content:center;
}

#inputDiv{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
    display:flex;
    justify-content:center;
    align-items:center;
}

#archivedSubsList{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:5;
    grid-row-end:6;
    display:flex;
    justify-content:center;
}

.subListing{
    display:flex;
}

.subNameDiv{
width:100px;
}

.timeFrameDiv{
    width:40px;
}

#explanatoryHeader{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:5;
    display:flex;
    justify-content:space-around;   
}

.subListing{
    justify-content:space-around;
}

#subListParent{
    width:100%;
}